.en-tete-produits{
	 color:#210B61;
	 font-weight:bold;
}
.en-tete-caracteristiques{
	 color:#2E64FE;
	 font-weight:bold;
}
.colorierNumerique{
	background-color: #A9BCF5;
}
table{
	color: #585858;
	font-style: italic;
}
